.logo1{
    float:left;

}
.logo2{
    float:right;
}
#branding {
    float: left;
    width: 100%;
}
#site-name{
    text-align: center;
    font-size: 30px;

}
.actions{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    padding: 0 3px 10px;
}

#changelist {
    width: auto !important;
}