<link rel="stylesheet" type="text/css" href="/static/djangocms_admin_style/css/djangocms-admin.css" />
<link rel="stylesheet" type="text/css" href="/static/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap/css/bootstrap.min.css" />

{% load static gencal %}
<link rel="stylesheet" href="{% static "django_tables2/themes/paleblue/css/screen.css" %}">
<header>
    <div id="branding">

    </div>

<nav class="navbar navbar-default" role="navigation">
  <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
  <div class="navbar-header" style="width: 100%">
    <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-ex1-collapse">
      <span class="sr-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"><img src="/static/img/xestiona.png"></a>
    <a class="navbar-brand" href="#"><img src="/static/img/logo-2.png"></a>
      <div id="user-tools" class="nolefty">
Bienvenido/a,
<strong>jorge</strong>
.
<a href="/es-es/admin/password_change/">Cambiar contraseña</a>
/
<a href="/es-es/admin/logout/">Terminar sesión</a>
</div>
    <span id="vinHeader">Comedores Populares Concello de Ferrol</span>
    <span class="nolefty1">Registro de Asistencia de hoy : {{hoy}} {{diaSem}}</span>

  </div>
</nav>
</header>
  <!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/admin/ControlAsistencia/estudiante/">Alumnos</a></li>
      <li><a href="/admin/ControlAsistencia/tutor/">Tutores</a></li>
      <li><a href="/admin/ControlAsistencia/pagador/">Pagadores</a></li>
      <li><a href="/control/asistencia">Asistencia</a></li>

    </ul>

    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Buscar">
      </div>
      <button type="submit" class="btn btn-default">Enviar</button>
    </form>


  </div>



{% if error_message %} <p><strong> {{error_message}}</strong></p>{% endif %}


<form action="/control/asistencia" method="get">{% csrf_token %}
<div class="actions">
    <label>Curso: </label>
    <select name="centros" id="select_centros"  placeholder="Seleccionar">
        <option selected="selected" value=""></option>
        {% for c in centros %}
        <option value="{{ c.id }}"{% ifequal c.nombre centro %} {% endifequal %}>{{ c.nombre }}</option>
        {% endfor %}
    </select>
    <button class="btn btn-default" value="0" name="index" title="Ejecutar la acción seleccionada" type="submit">Ir</button>
</div>
</form>
<div class="listAsist">
<form action="/control/registro" method="get">{% csrf_token %}
    <table class="listClass">
    <tr>
        <th>Estudiante</th>
        <th>Asistencia</th>
    </tr>
    {% for e in estudiantes%}

       <tr>
        <td>{{e.persona }}</td><td><input type="checkbox" name="asistio" value="{{ e.id }}"/></td>
        </tr>
     {% endfor %}
    </table>
<button class="class="btn btn-default"" value="0" name="index" title="Ejecutar la acción seleccionada" type="submit">Registrar</button>
</form>
</div>
</form>


