{% load render_table from django_tables2 %}
{% load static gencal %}
<link rel="stylesheet" href="{% static "django_tables2/themes/paleblue/css/screen.css" %}">

<h1>Registro de asistencia</h1>

{% if error_message %} <p><strong> {{error_message}}</strong></p>{% endif %}



<select name="centros" id="select_centros">
    {% for c in centros %}
    <option value="{{ c.id }}"{% ifequal c.val centro %} selected="selected"{% endifequal %}>{{ c.nombre }}</option>
    {% endfor %}
</select>
{% render_table estudiantes %}
{% gencal queryset %}